<div class="container">
	<div class="row">
		<app-post *ngFor="let post of posts" [post]="post" (updatePostEvent)="onUpdatePost($event)"></app-post>
	</div>
	<div *ngIf="auth.logged()" class="add-post-btn">
		<div class="container">
			<button type="button" (click)="openAddPostForm()">
				<span class="mdi mdi-plus"></span>
			</button>
		</div>
	</div>
</div>


<div class="container-form">
	<div class="row">
		<form [ngClass]="{active: toggleForm}" #form="ngForm" class="add-form" action="" autocomplete="off"
			(submit)="onAddPost(form.value)">
			<fieldset>
				<input ngModel id="title" type="text" name="title" required>
				<label for="title">Title</label>
				<div class="after"></div>
			</fieldset>
			<fieldset>
				<input ngModel id="image" type="text" name="image" required>
				<label for="image">Image url</label>
				<div class="after"></div>
			</fieldset>
			<fieldset>
				<textarea ngModel name="description" id="description" cols="30" rows="10"></textarea>
				<label for="email">Description</label>
				<div class="after"></div>
			</fieldset>
			<fieldset>
				<button>Submit</button>
			</fieldset>
		</form>
	</div>
	<div class="form-backdrop" (click)="openAddPostForm()" [ngClass]="{active: toggleForm}"></div>
</div>
