<div class="post">
	<a class="post-container" href="#">
		<figure>
			<img src="https://images.unsplash.com/photo-1560569203-a7120e77abd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
				alt="" srcset="">
		</figure>
		<div class="post-decription">
			<h3 class="post-title">
				Japan
			</h3>
			<div class="post-content">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, illo quam excepturi ex amet dolor
					quidem
					cumque rerum ad quibusdam magnam voluptate earum vero at nemo magni nisi! Voluptatem fuga repellat
					ipsam
					cum quisquam veritatis delectus vero nobis voluptatibus eveniet!</p>
			</div>
			<div class="post-detail">
				View detail
			</div>
		</div>
		<div class="post-option">
			<span class="mdi mdi-circle-edit-outline"></span>
			<span class="mdi mdi-delete"></span>
		</div>
	</a>
</div>
