<div class="post" [id]="post._id">
	<div class="post-container" href="#">
		<figure>
			<img [src]="post.image" alt="" srcset="">
		</figure>
		<div class="post-decription">
			<h3 class="post-title">
				{{post.title}}
			</h3>
			<div class="post-content">
				<p>{{post.description}}</p>
			</div>
			<!-- <small class="post-date">{{post.createDate | date: 'dd/MM/yyyy'}}</small> -->
			<a class="post-detail">
				View detail
			</a>
		</div>
		<div *ngIf="auth.logged()" class="post-option">
			<span class="mdi mdi-circle-edit-outline" (click)="editPostBtn()"></span>
			<span class="mdi mdi-delete" (click)="deletePost()"></span>
		</div>
	</div>
	<div class="container container-form" *ngIf="editToggle">
		<form class="update-form" action="" autocomplete="off">
			<fieldset>
				<input id="title" type="text" name="title" required [(ngModel)]="post.title">
				<label for="title">Title</label>
				<div class="after"></div>
			</fieldset>
			<fieldset>
				<textarea name="description" id="description" cols="30" [(ngModel)]="post.description"></textarea>
				<label for="password">Description</label>
				<div class="after"></div>
			</fieldset>
			<fieldset>
				<button type="button" (click)="updatePost()">Update</button>
			</fieldset>
		</form>
	</div>
</div>
