<div class="post" [id]="post.id">
	<a class="post-container" href="#">
		<figure>
			<img [src]="post.image" alt="" srcset="">
		</figure>
		<div class="post-decription">
			<h3 class="post-title">
				{{post.title}}
			</h3>
			<div class="post-content">
				<p>{{post.description}}</p>
			</div>
			<small class="post-date">{{post.date | date: 'shortDate'}}</small>
			<div class="post-detail">
				View detail
			</div>
		</div>
		<div class="post-option">
			<span class="mdi mdi-circle-edit-outline"></span>
			<span class="mdi mdi-delete"></span>
		</div>
	</a>
</div>
