<div class="container container-form">
	<h1>Register</h1>
	<form class="register-form" action="" autocomplete="off">
		<fieldset>
			<input [(ngModel)]="registerUserData.email" id="email" type="text" name="email" required>
			<label for="email">Email</label>
			<div class="after"></div>
		</fieldset>
		<fieldset>
			<input [(ngModel)]="registerUserData.password" id="password" type="password" name="password" required>
			<label for="password">Password</label>
			<div class="after"></div>
		</fieldset>
		<fieldset>
			<button (click)="registerUser()" type="button">Submit</button>
		</fieldset>
	</form>
</div>
